<p id="notice"><%= notice %></p>
<div>
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
</div>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<% @average = 0.0 %>
<ul>
  <%= render @restaurant.reviews %>
  <%= render 'restaurants/average' %>
</ul>


<%= render 'reviews/form' %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
